<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-app-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="image-cropper">
            <img class="portrait" alt="My portrait" src="./img/about-pic.jpg">
        </div>
        <p>{{aboutMessage}}</p>
    </div>
    
    {{>footer}}
</body>


</html>